<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <h2>Create an account</h2>

  <section>
    <ion-input
      label="Username"
      labelPlacement="floating"
      type="text"
      id="username"
      formControlName="username"
      fill="outline"
    />

    <app-form-error
      [control]="formControls.username"
      error="required"
      message="Username is required"
    ></app-form-error>
  </section>

  <section>
    <ion-input
      label="Email"
      labelPlacement="floating"
      type="email"
      id="email"
      formControlName="email"
      fill="outline"
    />

    <app-form-error
      [control]="formControls.email"
      error="required"
      message="Email is required"
    ></app-form-error>

    <app-form-error
      [control]="formControls.email"
      error="email"
      message="Must have valid email format"
    ></app-form-error>
  </section>

  <section>
    <ion-input
      label="Name"
      labelPlacement="floating"
      type="text"
      id="name"
      formControlName="name"
      fill="outline"
    />

    <app-form-error
      [control]="formControls.name"
      error="required"
      message="Name is required"
    ></app-form-error>
  </section>

  <section>
    <ion-input
      label="Surname"
      labelPlacement="floating"
      type="text"
      id="surname"
      formControlName="surname"
      fill="outline"
    />
  </section>

  <section>
    <ion-input
      label="Password"
      labelPlacement="floating"
      type="password"
      id="password"
      formControlName="password"
      fill="outline"
    />

    <app-form-error
      [control]="formControls.password"
      error="required"
      message="Password is required"
    ></app-form-error>

    <app-form-error
      [control]="formControls.password"
      error="minlength"
      message="Password must be at least {{
        formControls.password.errors?.['minlength']?.requiredLength
      }} characters"
    ></app-form-error>
  </section>

  <section>
    <ion-input
      label="Confirm password"
      labelPlacement="floating"
      type="password"
      id="confirm-password"
      formControlName="confirmPassword"
      fill="outline"
    />

    <app-form-error
      [control]="formControls.confirmPassword"
      error="required"
      message="Confirm password is required"
    ></app-form-error>

    <app-form-error
      [control]="formControls.confirmPassword"
      error="mismatch"
      message="Confirm password must be equal to password"
    ></app-form-error>
  </section>

  <ion-button type="submit" [disabled]="signupForm.invalid">Create</ion-button>

  <section>
    <span class="text-center">Already have an account? <a routerLink="/auth/login">Log in</a></span>
  </section>
</form>

