.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  height: 100px;
}

.input-actions {
  box-sizing: border-box;
  padding: 10px 0;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 999px;
  height: 80%;
}

#text-input {
  width: 85%;
  --background: transparent;
  height: 100%;
  min-height: 0;
}

.expression-picker {
  height: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: height 200ms ease;
  overflow: hidden;

  &.open {
    height: 320px;
  }

  @media (min-height: 1024px) {
    &.open {
      height: 500px;
    }
  }

  @media (max-height: 768px) {
    &.open {
      height: 260px;
    }
  }
}
