.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
}

.input-actions {
  box-sizing: border-box;
  padding: 10px 0;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 999px;
  height: 80%;
}

#text-input {
  width: 100%;
  --background: transparent;
  height: 100%;
  min-height: 0;
}
