<form [formGroup]="createChatForm" (ngSubmit)="onSubmit()">
  <ion-input
    label="Chat name"
    labelPlacement="floating"
    id="name"
    type="text"
    formControlName="name"
    placeholder="Enter a chat name"
    fill="outline"
  ></ion-input>

  <div class="users">
    <ion-content>
      <ion-list>
        @for (user of users(); track user._id) {
          <ion-item>
            <ion-label>{{ displayName(user) }}</ion-label>
            <ion-checkbox
              slot="end"
              (ionChange)="toggleParticipant(user)"
              [checked]="isSelected(user)"
            ></ion-checkbox>
          </ion-item>
        }
      </ion-list>
    </ion-content>
  </div>

  <div class="participants">
    <ion-content>
      @for (user of createChatForm.value.participants; track user._id) {
        <ion-chip>
          <ion-label>{{ displayName(user) }}</ion-label>
        </ion-chip>
      }
    </ion-content>
  </div>

  <ion-button type="submit" [disabled]="createChatForm.invalid">Create chat</ion-button>
</form>
