@use 'colors';

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  min-height: 100%;
  box-sizing: border-box;
  padding: 20px;
  gap: 5px;
  background-color: colors.$tertiary-bg;
}

.message {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  width: auto;
  max-width: 70%;
  position: relative;

  &:not(.grouped)::after {
    content: '';
    position: absolute;
    bottom: 6px;
    width: 12px;
    height: 12px;
    background: inherit;
  }
}

.message.other {
  background: colors.$message-bg;

  &:not(.grouped)::after {
    left: -6px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }
}

.message.self {
  align-self: flex-end;
  color: colors.$secondary-text;
  background: colors.$button-primary;

  &::after {
    right: -6px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }
}
