<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Welcome to Angular chat!</h2>

  <section>
    <ion-input
      label="Username"
      labelPlacement="floating"
      type="text"
      id="username"
      formControlName="username"
      placeholder="Enter your username"
      fill="outline"
    />

    <app-form-error
      [control]="formControls.username"
      error="required"
      message="Username is required"
    ></app-form-error>
  </section>

  <section>
    <ion-input
      label="Password"
      labelPlacement="floating"
      type="password"
      id="password"
      formControlName="password"
      placeholder="Enter password"
      fill="outline"
    />

    <app-form-error
      [control]="formControls.password"
      error="required"
      message="Password is required"
    ></app-form-error>

    <app-form-error
      [control]="formControls.password"
      error="minlength"
      message="Password must be at least {{
        formControls.password.errors?.['minlength']?.requiredLength
      }} characters"
    ></app-form-error>
  </section>

  <ion-button type="submit" [disabled]="loginForm.invalid">Sign in</ion-button>

  <section>
    <span class="text-center">Don't have an account? <a routerLink="/auth/signup">Sign Up</a></span>
  </section>
</form>
