@use 'colors';

$border-radius: 20px;

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-chat-header {
  height: 80px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: colors.$secondary-bg;
}

.message-list {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

ion-footer {
  height: 80px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
