@use 'colors';

:host {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 10px;
}

.emoji {
  background: transparent;
  box-sizing: border-box;
  padding: 10px;
  font-size: 24px;
  border: none;
  cursor: pointer;

  &:hover {
    background: colors.$hover-overlay;
    border-radius: 8px;
  }
}
